## This is to preprocess the kaggle data and split it into train, val, test splits with appropriate target (y) variables

In [1]:
import pandas as pd

In [3]:
path = "btcusd_1-min_data_RAW-KAGGLE-DATA.csv"

In [ ]:
# read csvs with the "datetime" column as a datetime
# datetime is UTC
# timestamp is unix time in seconds

df = pd.read_csv(path, parse_dates=["datetime"])

In [7]:
df

,Timestamp,Open,High,Low,Close,Volume,datetime
0,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:01:00+00:00
1,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:02:00+00:00
2,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:03:00+00:00
3,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:04:00+00:00
4,1.325412e+09,4.58,4.58,4.58,4.58,0.000000,2012-01-01 10:05:00+00:00
...,...,...,...,...,...,...,...
6990918,1.744937e+09,84891.00,84891.00,84891.00,84891.00,0.005840,NaT
6990919,1.744937e+09,84890.00,84890.00,84862.00,84863.00,0.022580,NaT
6990920,1.744937e+09,84863.00,84863.00,84863.00,84863.00,0.002700,NaT
6990921,1.744937e+09,84862.00,84862.00,84841.00,84845.00,0.008872,NaT
6990922,1.744937e+09,84845.00,84845.00,84821.00,84821.00,0.009361,NaT

In [ ]:
# TODO split into reasonable train, val, test